p {
  color: blue;
  font-size: 60px;
}
input[type="button"] {
  width: 90px;
}
input[type="button"]:hover {
  background-color: lightgreen;
}

.if-and-else {
  background-color: lightpink;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rechnen {
  background-color: lightgreen;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nachricht {
  background-color: lightblue;
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nachricht form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 50%;
  height: 300px;
  border-radius: 40px;
}
#myspan {
  color: lightsalmon;
}

.anasCode {
  transition: all 0.5s;
}

#quality {
  width: 500px;
}

h1 {
  text-align: center;
}

.luft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightslategrey;
  width: 100%;
  height: 500px;
}
